<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ynu.zoo.mapper.RoomListPeopleMapper">
  <resultMap id="BaseResultMap" type="com.ynu.zoo.PO.RoomListPeople">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="room_id" jdbcType="INTEGER" property="roomId" />
    <result column="people_max" jdbcType="INTEGER" property="peopleMax" />
    <result column="spare" jdbcType="VARCHAR" property="spare" />
    <result column="player1" jdbcType="VARCHAR" property="player1" />
    <result column="player2" jdbcType="VARCHAR" property="player2" />
    <result column="player3" jdbcType="VARCHAR" property="player3" />
    <result column="player4" jdbcType="VARCHAR" property="player4" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, room_id, people_max, spare, player1, player2, player3, player4
  </sql>
  <select id="selectByExample" parameterType="com.ynu.zoo.PO.RoomListPeopleExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_room_people
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_room_people
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_room_people
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ynu.zoo.PO.RoomListPeopleExample">
    delete from t_room_people
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ynu.zoo.PO.RoomListPeople"
  useGeneratedKeys="true" keyProperty="id">
    insert into t_room_people (ID, room_id, people_max, 
      spare, player1, player2, 
      player3, player4)
    values (#{id,jdbcType=INTEGER}, #{roomId,jdbcType=INTEGER}, #{peopleMax,jdbcType=INTEGER}, 
      #{spare,jdbcType=VARCHAR}, #{player1,jdbcType=VARCHAR}, #{player2,jdbcType=VARCHAR}, 
      #{player3,jdbcType=VARCHAR}, #{player4,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ynu.zoo.PO.RoomListPeople">
    insert into t_room_people
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roomId != null">
        room_id,
      </if>
      <if test="peopleMax != null">
        people_max,
      </if>
      <if test="spare != null">
        spare,
      </if>
      <if test="player1 != null">
        player1,
      </if>
      <if test="player2 != null">
        player2,
      </if>
      <if test="player3 != null">
        player3,
      </if>
      <if test="player4 != null">
        player4,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roomId != null">
        #{roomId,jdbcType=INTEGER},
      </if>
      <if test="peopleMax != null">
        #{peopleMax,jdbcType=INTEGER},
      </if>
      <if test="spare != null">
        #{spare,jdbcType=VARCHAR},
      </if>
      <if test="player1 != null">
        #{player1,jdbcType=VARCHAR},
      </if>
      <if test="player2 != null">
        #{player2,jdbcType=VARCHAR},
      </if>
      <if test="player3 != null">
        #{player3,jdbcType=VARCHAR},
      </if>
      <if test="player4 != null">
        #{player4,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ynu.zoo.PO.RoomListPeopleExample" resultType="java.lang.Long">
    select count(*) from t_room_people
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_room_people
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roomId != null">
        room_id = #{record.roomId,jdbcType=INTEGER},
      </if>
      <if test="record.peopleMax != null">
        people_max = #{record.peopleMax,jdbcType=INTEGER},
      </if>
      <if test="record.spare != null">
        spare = #{record.spare,jdbcType=VARCHAR},
      </if>
      <if test="record.player1 != null">
        player1 = #{record.player1,jdbcType=VARCHAR},
      </if>
      <if test="record.player2 != null">
        player2 = #{record.player2,jdbcType=VARCHAR},
      </if>
      <if test="record.player3 != null">
        player3 = #{record.player3,jdbcType=VARCHAR},
      </if>
      <if test="record.player4 != null">
        player4 = #{record.player4,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_room_people
    set ID = #{record.id,jdbcType=INTEGER},
      room_id = #{record.roomId,jdbcType=INTEGER},
      people_max = #{record.peopleMax,jdbcType=INTEGER},
      spare = #{record.spare,jdbcType=VARCHAR},
      player1 = #{record.player1,jdbcType=VARCHAR},
      player2 = #{record.player2,jdbcType=VARCHAR},
      player3 = #{record.player3,jdbcType=VARCHAR},
      player4 = #{record.player4,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ynu.zoo.PO.RoomListPeople">
    update t_room_people
    <set>
      <if test="roomId != null">
        room_id = #{roomId,jdbcType=INTEGER},
      </if>
      <if test="peopleMax != null">
        people_max = #{peopleMax,jdbcType=INTEGER},
      </if>
      <if test="spare != null">
        spare = #{spare,jdbcType=VARCHAR},
      </if>
      <if test="player1 != null">
        player1 = #{player1,jdbcType=VARCHAR},
      </if>
      <if test="player2 != null">
        player2 = #{player2,jdbcType=VARCHAR},
      </if>
      <if test="player3 != null">
        player3 = #{player3,jdbcType=VARCHAR},
      </if>
      <if test="player4 != null">
        player4 = #{player4,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ynu.zoo.PO.RoomListPeople">
    update t_room_people
    set room_id = #{roomId,jdbcType=INTEGER},
      people_max = #{peopleMax,jdbcType=INTEGER},
      spare = #{spare,jdbcType=VARCHAR},
      player1 = #{player1,jdbcType=VARCHAR},
      player2 = #{player2,jdbcType=VARCHAR},
      player3 = #{player3,jdbcType=VARCHAR},
      player4 = #{player4,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>